<html lang="en">
  <head class="header-area overlay">
    <meta charset="utf-8" />
    <title>Tongji AAMS -  {{posts.StudentName}} (Student)</title>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="/static/assets/js/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/bootstrap-table.js"></script>
    <script src="/static/assets/js/tableExport.js"></script>
    <script src="/static/assets/js/laydate/laydate.js"></script>
    <script src="/static/assets/js/bootstrap-select.js"></script>
    <script src="/static/assets/js/bootstrap-table-export.js"></script>
    <script src="/static/assets/js/student.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
      <div class="container">
        <a href="#" class="navbar-brand">Tongji AAMS</a>

        <button
          type="button"
          class="navbar-toggler collapsed"
          data-toggle="collapse"
          data-target="#main-nav"
        >
          <span class="menu-icon-bar"></span>
          <span class="menu-icon-bar"></span>
          <span class="menu-icon-bar"></span>
        </button>
        <div class="dropdown nav-person">
          <a href="#" class="nav-item nav-link" data-toggle="dropdown"
            >Hello, {{posts.StudentName}} ({{posts.StudentNo}})</a
          >
          <div class="dropdown-menu">
            <a href="{{ url_for('log.logout')}}" class="dropdown-item">Log Out</a>
            <a
              href="{{ url_for('log.logout')}}"
              class="dropdown-item"
              data-toggle="modal"
              data-target="#Modal_editPassword"
              >Change Password</a
            >
          </div>
        </div>

        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li>
              <a
                href="{{ url_for('student.student_index')}}"
                class="nav-item nav-link"
                >Homepage</a
              >
            </li>
            <li class="dropdown">
              <a href="#" class="nav-item nav-link" data-toggle="dropdown"
                >Courses</a
              >
              <div class="dropdown-menu">
                <a
                  href="{{url_for('student.student_course_specialityCurriculum')}}"
                  class="dropdown-item"
                  >Class Schedule</a
                >
                <a
                  href="{{url_for('student.student_course_studentCurriculum')}}"
                  class="dropdown-item"
                  >Personal Schedule</a
                >
                <a
                  href="{{url_for('student.student_course_selectCourse')}}"
                  class="dropdown-item"
                  >Select Courses</a
                >
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="nav-item nav-link" data-toggle="dropdown"
                >Examinations</a
              >
              <div class="dropdown-menu">
                <a
                  href="{{url_for('student.student_exam_viewExam')}}"
                  class="dropdown-item"
                  >Exam Schedule</a
                >
              </div>
            </li>
            <li class="dropdown">
              <a
                href="#"
                class="nav-item nav-link active"
                data-toggle="dropdown"
                >Grades</a
              >
              <div class="dropdown-menu">
                <a
                  href="{{url_for('student.student_score_viewScore')}}"
                  class="dropdown-item"
                  >My Grades</a
                >
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="nav-item nav-link" data-toggle="dropdown"
                >Evaluations</a
              >
              <div class="dropdown-menu">
                <a
                  href="{{url_for('student.student_evaluate_addEvaluation')}}"
                  class="dropdown-item"
                  >Evaluations</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div id="toolbar"></div>
          <table id="table" class="table-fix">
            <thead>
              <tr>
                <th data-field="courseID" data-sortable="true">Course No.</th>
                <th data-field="courseName">Course Name</th>
                <th data-field="score">Grade</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div
        class="modal fade"
        id="Modal_editPassword"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="oldPassword">Original Password</label>
                <input
                  type="password"
                  name="oldPassword"
                  id="oldPassword"
                  class="form-control"
                  required="required"
                  autocomplete="new-password"
                />
              </div>
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input
                  type="password"
                  name="newPassword"
                  id="newPassword"
                  class="form-control"
                  required="required"
                  placeholder="At Least 6 Characters"
                />
              </div>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  <span class="" aria-hidden="true"></span>关闭
                </button>
                <button
                  type="submit"
                  id="btn_submit_editPassword"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  onclick="editPassword_submit()"
                >
                  <span class="" aria-hidden="true"></span>提交
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var $table = $("#table");
      var $add = $("#add");
      function queryParams(params) {
        var temp = {
          test: "ok",
        };
        return temp;
      }
      function initTable() {
        $table.bootstrapTable({
          method: "post",
          url: "/data/ScoreInfo",
          dataType: "json",
          contentType: "application/x-www-form-urlencoded",
          height: "600",
          pagination: "true",
          toolbar: "#toolbar",
          search: "true",
          searchOnEnterKey: "true",
          showExport: "true",
          queryParams: queryParams,
          queryParamsType: "limit",
          exportDataType: "all",
        });
      }

      $(function () {
        initTable();
      });
    </script>
  </body>
</html>
