<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <div class="container">
    <a href="#" class="navbar-brand">Tongji AAMS</a>

    <button
      type="button"
      class="navbar-toggler collapsed"
      data-toggle="collapse"
      data-target="#main-nav"
    >
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
    </button>
    <div class="dropdown nav-person">
      <a href="#" class="nav-item nav-link" data-toggle="dropdown"
        >Hello, {{posts.AdminName}} ({{posts.AdminNo}})</a
      >
      <div class="dropdown-menu">
        <a href="{{ url_for('logout')}}" class="dropdown-item">Log Out</a>
        <a
          href="{{ url_for('logout')}}"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#Modal_editPassword"
          >Change Password</a
        >
      </div>
    </div>

    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li>
          <a href="{{ url_for('admin_index')}}" class="nav-item nav-link"
            >Homepage</a
          >
        </li>
        <li class="dropdown">
          <a href="#" class="nav-item nav-link active" data-toggle="dropdown"
            >Personnel</a
          >
          <div class="dropdown-menu">
            <a
              href="{{url_for('admin_stuff_addStudent')}}"
              class="dropdown-item"
              >Record Students</a
            >
            <a
              href="{{url_for('admin_stuff_addTeacher')}}"
              class="dropdown-item"
              >Record Teachers</a
            >
            <a href="{{url_for('admin_stuff_addAdmin')}}" class="dropdown-item"
              >Record Admins</a
            >
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="nav-item nav-link" data-toggle="dropdown"
            >Courses</a
          >
          <div class="dropdown-menu">
            <!--'admin_course_teachApplication'-->
            <!--'admin_course_startApplication'-->
            <!--'admin_course_viewCourse'-->
            <!--'admin_course_editCourse'-->
            <!--'admin_course_viewSpecialityCurriculum'-->
            <!--'admin_course_editSpecialityCurriculum'-->
            <a href="#" class="dropdown-item">Process Applications for Teaching</a>
            <a href="#" class="dropdown-item">Process Applications for Class Start</a>
            <a href="#" class="dropdown-item">View Full School Curriculum</a>
            <a href="#" class="dropdown-item">修改课程信息</a>
            <a href="#" class="dropdown-item">Class Schedule</a>
            <a href="#" class="dropdown-item">修改Major课表</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="nav-item nav-link" data-toggle="dropdown"
            >Examinations</a
          >
          <div class="dropdown-menu">
            <!--'admin_course_editExam'-->
            <!--'admin_course_viewExam'-->
            <a href="#" class="dropdown-item">Set Exam Schedules</a>
            <a href="#" class="dropdown-item">Exam Schedule</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  class="modal fade"
  id="Modal_editPassword"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="oldPassword">Original Password</label>
          <input
            type="password"
            name="oldPassword"
            id="oldPassword"
            class="form-control"
            required="required"
            autocomplete="new-password"
          />
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            class="form-control"
            required="required"
            placeholder="At Least 6 Characters"
          />
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="" aria-hidden="true"></span>关闭
          </button>
          <button
            type="submit"
            id="btn_submit_editPassword"
            class="btn btn-primary"
            data-dismiss="modal"
            onclick="editPassword_submit()"
          >
            <span class="" aria-hidden="true"></span>提交
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
